<ion-content padding text-center>

  <ion-grid vertical>
    <ion-row grid-filler>
      <ion-col></ion-col>
    </ion-row>

    <ion-row grid-filler>
      <ion-col>
        <h1>
          <br>
          Let's play <br>
          "<strong class="game-title">EvenOdd</strong>"!
        </h1>
      </ion-col>
    </ion-row>

    <ion-row align-items-center grid-filler>
      <ion-col [ngSwitch]="startStrategy | async">
        <p *ngSwitchCase="STRATEGIES.CONNECTION_INITIALIZATION">...initialization...</p>

        <ion-buttons>
          <button ion-button
                  large
                  *ngSwitchCase="STRATEGIES.CREATE_GAME"
                  (click)="createGame()">Create New Game</button>
          <button ion-button
                  color="light"
                  *ngSwitchCase="STRATEGIES.JOIN_GAME"
                  (click)="joinGame()">Join Current</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
