<ion-content padding text-center>

  <ion-grid vertical>
    <ion-row align-items-right>
      <ion-col text-right>
        <ion-icon name="close"
                  (click)="back()"
                  class="big-icon"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <h3>
          Create New Own Game
        </h3>
        <br>

        <form [formGroup]="createGameForm" (ngSubmit)="createGame()">
          <ion-list>
            <ion-item>
              <ion-label stacked>Your name</ion-label>
              <ion-input type="text"
                          (ngModel)="username"
                          autofocus
                          [formControl]="createGameForm.controls['username']"
                          placeholder="e.g. Vladimir Vladimirovich P."></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Players Number</ion-label>
              <ion-input type="number"
                        min="2"
                        [max]="MAX_PLAYERS"
                        (ngModel)="playersNumber"
                        placeholder="2 to {{MAX_PLAYERS}} players"
                        [formControl]="createGameForm.controls['maxPlayers']"></ion-input>
            </ion-item>
          </ion-list>

          <button ion-button block
                  type="submit"
                  [disabled]="!createGameForm.valid">Play!</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
