<ion-content [ngSwitch]="gameStatus | async">
   <!-- <pre>    -->
  <pre *ngSwitchDefault>
    gameStatus: {{ gameStatus | async }}
  </pre>

  <even-odd-game-end *ngSwitchCase="GAME_STATUSES.GAME_ENDED">
  </even-odd-game-end>

  <even-odd-ingame-await *ngSwitchCase="GAME_STATUSES.GAME_AWAIT">
  </even-odd-ingame-await>

  <even-odd-ingame-await *ngSwitchCase="GAME_STATUSES.GAME_INITIAL">
  </even-odd-ingame-await>

  <even-odd-game *ngSwitchCase="GAME_STATUSES.GAME_STARTED"></even-odd-game>
</ion-content>
