<ion-grid vertical>
  <!-- Game status  -->
  <ion-row>
    <ion-col text-center>
      <h2>Turn #{{ roundNumber | async }}</h2>
      <p>{{ playerTurnTabloObserver | async }}</p>
    </ion-col>
  </ion-row>

  <!-- Player turn  -->
  <ion-row grid-filler *ngIf="isPlayerTurn | async">
    <ion-col>
       <even-odd-player-turn [username]="username"
                             [previousTurnExists]="previousTurnExists"
                             [turnCommitObserver]="turnCommitObserver">
       </even-odd-player-turn>
    </ion-col>
  </ion-row>

  <!-- Players list  -->
  <ion-row grid-filler *ngIf="!(isPlayerTurn | async)">
    <ion-col>
      <even-odd-players-board [players]="players"
                              [player]="player"
                              [round]="currentRound">
      </even-odd-players-board>
    </ion-col>
  </ion-row>
</ion-grid>
