ion-grid[vertical],
ion-list[vertical] {
  flex-direction: column;
  height: 100%;

  [grid-filler] {
    flex: 1;
  }
}

.big-icon {
  font-size: 3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
