<ion-grid vertical>
  <ion-row>
    <ion-col>
      <h2 text-center>
        Waiting for players joining...
      </h2>
    </ion-col>
  </ion-row>

  <ion-row grid-filler>
    <ion-col>
      <h3>
        {{ (players | async).length }} of {{ maxPlayers | async }}
        are joined:
      </h3>

      <even-odd-players-board [players]="players"
                              [player]="player"
                              [simpleMode]="true">
      </even-odd-players-board>
    </ion-col>
  </ion-row>
</ion-grid>
