<ion-content padding>

  <ion-grid vertical>
    <ion-row align-items-center text-center>
      <ion-col>
        <h3 *ngIf="playerIsWon | async">You ◕‿◕ win!</h3>
        <h3 *ngIf="!(playerIsWon | async)">You ⊙︿⊙ loose...</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-items-center text-cente>
        <h4>Your score: {{ playerScore | async }}</h4>
      </ion-col>
    </ion-row>

    <ion-row grid-filler align-items-center>
      <ion-col>
        <even-odd-players-board [players]="sortedPlayers"
                                [player]="player">
        </even-odd-players-board>
      </ion-col>
    </ion-row>

     <ion-row>
      <ion-col>
        <button ion-button
                (click)="exitGame()">Exit</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
