even-odd-players-board {
  .player--current {
    .player-username,
    .player-score {
      color: yellow;
    }
  }

  .player--current-turn {
    animation: current-turn-animation 3s infinite;
  }

  @keyframes current-turn-animation {
    0% { background-color: transparent; }
    50% { background-color: rgba(lightgreen,0.5);}
    100% { background-color: transparent; }
  }
}
