<ion-list>
  <ion-item *ngFor="let player of players | async"
            class="player"
            [class.player--current-turn]="isCurrentPlayerTurn(player)"
            [class.player--current]="isCurrentPlayer(player)">
    <ion-grid>
      <ion-row>
        <ion-col grid-filler>
          <h4 class="player-username">{{ player.username }}</h4>
        </ion-col>

        <ion-col *ngIf="!simpleMode">
          <strong class="player-score">{{ player.score }}</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
