<ion-content padding text-center>

  <ion-grid vertical>
    <ion-row align-items-right>
      <ion-col text-right>
        <ion-icon name="close"
                  (click)="back()"
                  class="big-icon"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 text-center>
          Join To Game As...
        </h3>
        <br>

        <form [formGroup]="joinGameForm" (ngSubmit)="joinGame()">
          <ion-list>
            <ion-item>
              <ion-label stacked>Your name</ion-label>
              <ion-input type="text"
                          name="username"
                          [formControl]="joinGameForm.controls['username']"
                          placeholder="e.g. Vladimir Vladimirovich P."
                          required
                          autofocus></ion-input>
            </ion-item>
            <p *ngIf="joinGameForm.controls['username'].errors?.forbiddenUsername && joinGameForm.controls['username'].dirty">
              Name "{{ joinGameForm.value.username }}" is already taked
            </p>
            <p *ngIf="joinGameForm.controls['username'].errors?.required && joinGameForm.controls['username'].dirty">
              Name is required
            </p>
          </ion-list>

          <button block ion-button
                  [disabled]="!joinGameForm.valid"
                  type="submit">Join'n'Play!</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
