<ion-grid vertical>
  <ion-row>
    <ion-col>
      <h4>
        Your turn, <strong>{{ username }}</strong>!
      </h4>
    </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col>
      <form [formGroup]="turnForm" (ngSubmit)="commitTurn()">
        <div *ngIf="previousTurnExists | async">
          <p>
            Previous number was <strong>even</strong> or <strong>odd</strong>?
          </p>
          <ion-list radio-group
                    [formControl]="turnForm.controls['answerIsEven']">
            <ion-item>
              <ion-label>Even</ion-label>
              <ion-radio value="true"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Odd</ion-label>
              <ion-radio value="false"></ion-radio>
            </ion-item>
          </ion-list>
        </div>

        <div>
          <p>Your number is...</p>
          <ion-list>
            <ion-item>
              <ion-input type="number"
                          (ngModel)="madeNumber"
                          [formControl]="turnForm.controls['madeNumber']"
                          placeholder="From 1 to {{ MAX_NUMBER }}"></ion-input>
            </ion-item>
          </ion-list>
        </div>

        <ion-list>
          <button ion-button block
                [disabled]="!turnForm.valid"
                type="submit">Turn</button>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
